{% extends 'shoefinder/index.html' %}
{% load static %}

{% block title %}{{model_name}}{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Название: {{model_name}}</h1>
    <p>Бренд: {{model_name.brand}}</p>
    <img src="{% static 'shoefinder/images/' %}{{model_name.id}}.jpg" width="300">
    <p>Где купить:</p>
    <ul>
        {% for model_link in links %}
        <li><a href="{{model_link.url}}" target="_blank">{{model_link.store_name}}</a>
        <p>Цена: {{model_link.price}}</p></li>
        {% endfor %}
    </ul>
</div>


{% endblock %}